<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id="userService1" class="com.southWind.service.UserServiceImpl"/>
    <bean id="log" class="com.southWind.log.Log"/>
    <bean id="afterLog" class="com.southWind.log.AfterLog"/>
    <bean id="diy" class="com.southWind.diy.DiyPoint"/>
    <bean id="diyPointCut" class="com.southWind.diy.AnnotationPointCut"/>

<!--    开启注解支持-->
    <aop:aspectj-autoproxy/>
<!--    <aop:config>-->
<!--        <aop:aspect ref="diy">-->
<!--            &lt;!&ndash;切入点&ndash;&gt;-->
<!--            <aop:pointcut id="point" expression="execution(* com.southWind.service.UserServiceImpl.*(..))"/>-->
<!--            &lt;!&ndash;通知&ndash;&gt;-->
<!--            <aop:before method="before" pointcut-ref="point"/>-->
<!--            <aop:after method="after" pointcut-ref="point"/>-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

<!--      执行环绕增加-->
<!--    <aop:config>-->
<!--        <需要一个切入点： expression表达式  execution要执行的位置！ * * * * *>-->
<!--    <aop:pointcut id="point" expression="execution(* com.southWind.service.UserServiceImpl.*(..))"/>-->
<!--    <aop:advisor advice-ref="log" pointcut-ref="point"/>-->
<!--    <aop:advisor advice-ref="afterLog" pointcut-ref="point"/>-->
<!--</aop:config>-->

</beans>